@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.thisNeo{
  @apply shadow-[inset_5px_5px_15px_#b2b2b5,_inset_-5px_-5px_25px_#f6f6fb]
    dark:shadow-[inset_5px_5px_15px_#101010,_inset_-5px_-5px_25px_#232328];
}


.thisNeosm{
  @apply shadow-[inset_2px_2px_6px_#b2b2b5,_inset_-2px_-2px_6px_#f6f6fb]
    dark:shadow-[inset_2px_2px_6px_#101010,_inset_-2px_-2px_6px_#232328];
}

@layer components{
  .thisData{
    @apply  
    flex items-center justify-between
    md:text-lg 
    w-9/12
    rounded-lg px-3 py-1
    shadow-[inset_2px_2px_10px_#b2b2b5,_inset_-2px_-2px_10px_#f6f6fb]
    dark:shadow-[inset_2px_2px_10px_#101010,_inset_-2px_-2px_10px_#232328]
    ;
  }
}


@layer components{
  .thisButton{
    @apply
    overflow-hidden
    text-zinc-200
    dark:text-zinc-300
    rounded-xl
    px-5 py-3
    bg-sky-600
    dark:bg-sky-700
    relative      
    md:text-base
    shadow-[0_5px_15px_-7.5px_black]
    text-xs
    z-[1]
    before:bg-opacity-20
    before:dark:bg-opacity-20
    before:bg-zinc-800
    before:dark:bg-zinc-300
    before:-z-[1]
    ;
  }
}

.thisButton:before{
  content:'';
  position:absolute;
  height:100%;width:100%;
  top:0;left:0; 
  transform-origin:right;
  transform: scale(0,1);
  transition:transform ease 500ms;
}

.thisButton:hover:before{
  transform-origin:left;
  transform:scale(1,1);
}

td{
   @apply 
    p-[1vmin] 
   bg-zinc-200 text-zinc-500 
   dark:bg-zinc-700 dark:text-zinc-400
   font-semibold tracking-tighter;
}

th{
  @apply 
  p-[1vmin] 
  dark:bg-zinc-800 dark:text-zinc-500
  bg-zinc-400 text-zinc-600
  text-left font-semibold  font-normal tracking-tight;

}



